{% extends 'django_bootstrap5/bootstrap5.html' %}
{% load django_bootstrap5 static i18n %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}

{% block bootstrap5_content %}

<div class="container">
    <div class="row">
        <div class="col-12">

            {% bootstrap_messages %}

            <h1 class="page_title">{% block page_title %}{% endblock %}</h1>
            {% block content %}{% endblock %}

        </div>
    </div>
</div>

{% endblock %}
